# Python
__pycache__/
*.py[codz]
*.egg-info/
dist/
build/

# Environments
.venv/
.env

# UV
# Keep uv.lock in version control for reproducibility

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Dagster
.tmp_dagster_home*/

# dbt
.user.yml

# DuckDB
*.duckdb
*.duckdb.wal
